<aside>

	<div class="panel radius" style="text-align: center;">
		<div id="headshot-with-background-color" style="{% if site.headshot-shape == 'circle' %} padding: 0; margin: 0; object-fit: contain;" class="rounded {% if site.headshot-effect == 'border' %}bordered{% endif %}{% endif %}">
			<div class="row" style="object-fit: contain;">
				<figure style="object-fit: contain; margin: 20px;">
						<img src="{{ site.url }}/{{site.headshot-path}}/{{ site.headshot-image }}" alt="{{ site.title }} - {{ site.slogan }}" class="{% if site.headshot-shape == 'circle' %}rounded{% endif %}" style="object-fit: contain;">
				</figure>
			</div>
		</div>
		<h3>{{site.title}}</h3>
		<p>{{site.slogan}}</p>
	</div>
	<div class="panel radius">
		<h4 style="text-align: center; margin-top: 0; margin-bottom: .5em;"> Social Media </h4>
		<ul class="text-left">
			{% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.url }}"> {{ social_item.url }}</a></li>
            {% endfor %}
		</ul>
	</div>
</aside>