@charset "utf-8";
/* TOC

- Round Images
- Short color masthead

*/

img.rounded,
#headshot-with-background-color.rounded{
    clip-path: circle(closest-side at center);
    
}

#headshot-with-background-color.bordered{
        background:$primary-color
}



/* Mastheads */


#masthead-narrow-header {
    background-color: $primary-color;
    height: 60px;
}