@charset "utf-8";
/* TOC

- Round Images

*/

img.rounded,
#headshot-with-background-color.rounded{
    clip-path: circle(closest-side at center);
    
}

#headshot-with-background-color.bordered{
        background:$primary-color
}