@charset "utf-8";
/* TOC

- Round Images
- Short color masthead
- Accordion Icons

*/

img.rounded,
#headshot-with-background-color.rounded{
    clip-path: circle(closest-side at center);
    
}

#headshot-with-background-color.bordered{
        background:$primary-color
}



/* Mastheads */


#masthead-narrow-header {
    background-color: $primary-color;
    height: 60px;
}

/* Accordions ----------------------------------------------------------------------------------------------------------------------------------- */
/* Adding a subtitle to the accordion */
.accordion-navigation>a>.accordion-subtitle{
    >* {margin-bottom: 0em;}
    font-weight: 500;
    font-style: italic;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .25em;
    padding-top: .25em;
    margin-bottom: 0;
}
